.curtainNav{
    @include positionFixed();  
    overflow: hidden;
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
    transform: translateY(-100%);
  }
  
  .curtainNav.active{
    transform: translateX(-5%) translateY(5%);
  }

  .curtainNav ul {
    @include flexCenter(column);
  }
  
  
  .curtainNav ul li a{
    font-size: $fz-bg;
    font-weight: weight(bold);
    font-family: $ff-nav;
    color: darken($p-white, 10%);
    padding: 2rem;
    text-transform: uppercase;
    display: inline-block;       
      &::before{
          @include beforeAfter;
          top: 50%;
          left: 0;
          width: 100%;
          height: 8px;
          background: #ff0;
          @include navEffect;
      }
      &:hover ::before {
          @include navEffect;
      }
  }

  /*========================================================
                    HEADER  curtainNav media Q 
========================================================*/
/*超大*/
@media(min-width:1500px){
  .curtainNav ul li a{
    font-size: $fz-bg;
  }
}
/*中大*/
@media (min-width:600px) and (max-width:1000px){
  .curtainNav ul li{
    //padding-top: 1rem; //translateX
    & a{
      font-size: $fz-md;
    }
  }
  
}
@media(min-width:240px) and (max-width: 600px){

  .curtainNav ul {
      align-items: start;
      li {
      padding: 0rem;
      }
     li a{
      font-size:1.5rem;
    }
  }
}
/*===========================================*/
// nav {
//   position: fixed;
//   top: 0;
//   left: 7.99%;
//   width: 51%;
//   // display: flex;
//   // justify-content: space-around;
//   // align-items: center;
//   min-height: 100vh;
//   // background-image: linear-gradient(to left, #000000, #2a2a2a, #515151, #7a7a7a, #a7a7a7, #bcbcbc, #d1d1d1, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6, #e6e6e6);
//   // background-image: linear-gradient(to left, #000000, #000000, #000000, #000000, #000000, #171717, #262626, #363636, #5e5e5e, #898989, #b6b6b6, #e6e6e6);
//   // background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000, #171717, #262626, #363636, #5e5e5e, #898989, #b6b6b6, #e6e6e6);
//   background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000, #171717, #262626, #363636, #5e5e5e, #898989, #b6b6b6, #e6e6e6);
//   //background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000, #131313, #1f1f1f, #2b2b2b, #484848, #686868, #898989, #acacac);
//   //background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #131313, #1f1f1f, #2b2b2b, #484848, #686868, #898989, #acacac);
//   //background: #000;
//   clip-path: polygon(1.5% 0, 100% 0, 100% 100%, 0% 100%);
//   display:none;
//   z-index: 999;
// }

// // .logo {
// //   color: rgb(226, 226, 226);
// //   text-transform: uppercase;
// //   letter-spacing: 5px;
// //   font-size: 3rem;
// // }

// .nav-links {
//   display: flex;
//   justify-content: space-evenly; //no space
//   width: 30%;                    //but w width,
// }

// // .nav-links li {
// //   list-style: none;
// // }

// .nav-links a {
//   color: rgb(226, 226, 226);
//   text-decoration: none;
//   letter-spacing: 3px;
//   font-weight: bold;
//   font-size: 1rem;
// }

// .burger {
//   display: none;
// }

// .burger div {
//   width: 25px;
//   height: 3px;
//   background-color: rgb(226, 226, 226);
//   margin: 5px;
//   transition: all 0.3s ease;
// }

// @media screen and (max-width: 1024px) {
//   .nav-links {
//       width: 60%;
//   }
// }

// @media screen and (max-width: 768px) {
//   body {
//       overflow-x: hidden;
//   }
  
//   .nav-links {
//       position: fixed;
//       right: 0px;
//       height: 92vh;
//       top: 8vh;
//       background-color: #5D4954;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 50%;
//       transform: translateX(100%);
//       transition: transform 0.5s ease-in;
//   }
  
//   .nav-links li {
//       opacity: 0;
//   }
  
//   .burger {
//       display: block;
//       cursor: pointer;
//   }
// }

// .nav-active {
//       transform: translateX(0%);
// }

// @keyframes navLinkFade {
//   from {
//       opacity: 0;
//       transform: translateX(50px);
//   }
//   to {
//       opacity: 1;
//       transform: translateX(0);
//   }
// }

// .toggle .line1 {
//   transform: rotate(-45deg) translate(-5px, 6px);
// }

// .toggle .line2 {
//   opacity: 0;
// }

// .toggle .line3 {
//   transform: rotate(45deg) translate(-5px, -6px);
// }
//*****************************//
